# Supabase
SUPABASE_URL=https://bvedofgnpmdchylqlmov.supabase.co
SUPABASE_KEY=your-key-here.your-key-here.nhivEtEamz5NMmwxpXQ_Uz6N0Fds4za0lR2DvTN4mWM
SUPABASE_SERVICE_ROLE_KEY=your-key-here.your-key-here.eZB-e1pS8DLouCNVZToeNr0FGYqGKxgGmmz5lyRDs_0

# Frontend (Vite)
VITE_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
VITE_SUPABASE_ANON_KEY=your_anon_key_here
